body {
  font-family: Arial, sans-serif;
}
.container{
padding: 10px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
box-sizing: content-box;
}
.total{
  margin-top: 100px;
  background-color: #e7eeec;
}
.head{
  color: #59595B;
font-weight: 700;
font-size: 32px;
margin: 50px 0px 50px 0px;
text-align: center;
padding-top: 50px;
}
.cardplus{
  width: 25px;
  background: transparent;
  color: #22686C;
  font-size: 45px;
  padding-top: 210px;

}
.card {
width: 282px;
background: #FFF;
box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.15);
padding: 10px;
border-radius: 5px;
}
.card4{
  background: var(--22686C, #22686C);
  width: 282px;
box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.15);
padding: 10px;
border-radius: 5px;
}
.save15{
  float: right;
  font-weight: 400;
  font-size: 12px;
}
.price12{
  float: inline-start; 
  color: #EB9E32;
  font-weight: 800;
 font-size: 16px;
 letter-spacing: 0.5px;

}

.bonus{
width: 58px;
padding: 4px;
border-radius: 100px;
background: #2EA37B;
left: 15px;
top: 15px;
border: none;
color: white;
display: inline-block;
}
.checkbox{
float: right;
position: relative;
width: 19px;
height: 19px;
}
input[type=checkbox] {
  accent-color: #2EA37B;
}
.checkbox4{
  accent-color:#e7eeec !important ;
  float: right;
  width: 19px;
height: 19px;
color: white !important;
}
.cart4{
  width: 234px;
height: 32px;
font-size: 12px;
font-weight: 700;
border-radius: 3px;
border: 1px solid var(--59595B, #59595B);
background: white;
margin: 10px 0px 0px 0px;
color: #2EA37B;
letter-spacing: 1.8px;
text-transform: uppercase;
height: 44px;
padding: 8px;
justify-content: space-between;
}
.new{
  background-color: #59595B;
  width: 43px;
  border: none;
  border-radius: 50%;
  height: 43px;
  color: white;
}
.column {
  float: left;
  width: 22%;
  padding: 0 10px;
  display:flex;
}

.row {
  margin: 0 -5px;
  display: flex;
  flex-wrap: wrap;
}

.row:after {
  content: "";
  display: flex;
  clear: both;
  flex-wrap: wrap;
}
.first{
  padding: 5px;
}
first2{
  position: relative;
  padding: 5px;
  z-index: 1;
}
.eclips2{
  z-index: 1;
    position: relative
}
.second{
display: grid;
grid-template-columns: 1fr ;
padding: 0px 0px 0px 15px;
}
.second4{
  color: white;
  text-align: center;
  margin-top: 230px;

}
.second2{
  display: grid;
padding: 0px
}
.quantity{
  color: #959595;
  font-weight: 400;
  font-size: 13px;
}
.quantity3{
  color: #959595;
  font-weight: 400;
  font-size: 13px;
  margin: 10px 0px 12px 0px;
}
.lable{
   font-size: 14px;
   font-weight: 700;
   font-family: Merriweather Sans;

}
.price{
width: 234px;
height: 25px;
background-color: transparent;
border: 1px solid #EAEAEA;
font-weight: 300;
font-size: 14px;
padding: 0px 15px 0px 15px}
.price3{
  width: 234px;
  height: 25px;
  background-color: transparent;
  border: none;
  font-weight: 300;
  font-size: 14px;
  }
.sale{
  width: 53px;
  border-radius: 100px;
  background-color: #EB9E32;
  color: white;
  font-weight: 800;
  font-size: 10px;
  border: none;
  padding: 4px;
  font-style: normal;
}
.cart{
width: 234px;
font-size: 12px;
font-weight: 700;
border-radius: 3px;
border: 1px solid var(--59595B, #59595B);
background: var(--59595B, #59595B);
margin: 10px 0px 0px 0px;
color: white;
letter-spacing: 1.8px;
text-transform: uppercase;
height: 44px;
padding: 8px;
justify-content: space-between;
}
.cart2{
  width: 234px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 3px;
  border: 1px solid #22686C;
  background:#22686C ;
  margin: 7px 0px 0px 0px;
  color: white;
  letter-spacing: 1.8px;
  text-transform: uppercase; 
  height: 44px;
padding: 8px;
justify-content: space-between;
}
.product{
color: #4D4D4D;
font-size: 13px;
font-weight: 400px;
}
.third{
z-index: 1;
position: relative;
margin-top: 115px;
margin-left: 20px;
}
.third2{
  position: relative;
  margin-left: 20px;
  margin-top: -21px;
  }
.eclips{
  z-index: 1;
}
.brand{
  padding: 15px; 
  z-index: 1;
}
.image25{
  position:absolute;
}
.third3{
  z-index: 1;
position: relative;
margin-left: 20px;
margin-top: 10px;
}
@media  (max-width: 767px) {

  .container {
      padding: 10px; 
  }

  .column {
      width: 100%; /* Make columns take full width on smaller screens */
      max-width: none; /* Remove max-width restriction */
  }

  .card {
      height: auto; /* Allow cards to adjust their height based on content */
  }

  .bonus {
      margin: 5px 0; /* Adjust spacing for the "BONUS" button */
  }
.cardplus{
  display: inline;
  padding: 0px 0px 0px 130px 
}
}